@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: 'Roboto', 'sans-serif';
}

a {
    @apply underline;
}

a:hover {
    /*@apply text-teal-300;*/
}

body {
    font-family:
        'IBM Plex Mono',
        monospace;
}
