@import '../../../../vendor/filament/filament/resources/css/theme.css';

@source '../../../../app/Filament/**/*';
@source '../../../../app/View/Components/Filament/**/*';
@source '../../../../resources/views/filament/**/*';
@source '../../../../resources/views/components/filament/**/*';
